body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#navbar {
    /*background-color: rgb(61, 34, 139);*/
    background-image: linear-gradient(to right, rgb(50, 28, 114), rgb(158, 61, 50));
    width: 100%;
    float: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    padding-right: 3em;    
}

#navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#navbar li a:hover {
    color: rgb(206, 78, 47);
}

#banner {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    position: relative;
}

.imgTextBox {
    position: absolute;
    top: 50%;
    width: 90%;
    text-align: center;
    color: white;
    background-color: rgb(44, 44, 44);
    margin-left: 5%;
    opacity: 0.8;
}
.imgTextBox p {
    opacity: 1;
    font-size: 28px;
}

.container {
    position: static;
}

#pfp {
    border-radius: 50%;
    position: relative;
    margin: auto;
    display: block;
    margin-top: 3em;
}

.content {
    color: rgb(61, 34, 139);
    font-size: 20px;
}

hr {
    width: 40%;
    height: 4px;
    background-color: rgb(61, 34, 139);
    border-width: 0;
}

.container img {
    max-width: 60%;
    border-radius: 30px;
    padding-right: 10px;

}

.card {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px ;
}

.gallery  {
    width: 90%;
    margin: auto;
}

.gallery img {
    width: 22%;
    border-radius: 10px;
    padding-right: 0;
}
@media only screen and (max-width: 700px) {
    .gallery img {
        width: 45%;
    }
}
@media only screen and (max-width: 500px) {
    .gallery img {
        width: 100%;
    }
}