body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#navbar {
    background-color: rgb(61, 34, 139);
    width: 100%;
    float: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    padding-right: 3em;    
}

#navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#banner {
    width: 100%;
}

.imgTextBox {
    position: absolute;
    top: 65%;
    width: 90%;
    text-align: center;
    color: white;
    background-color: rgb(44, 44, 44);
    margin-left: 5%;
    opacity: 0.8;
}
.imgTextBox p {
    opacity: 1;
    font-size: 28px;
}

.container {
    position: relative;
}

#pfp {
    border-radius: 50%;
    position: relative;
    margin: auto;
    display: block;
    margin-top: 3em;
}

.content {
    color: rgb(61, 34, 139);
    font-size: 20px;
}

hr {
    width: 40%;
}